<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">         
    <title>Weather_Top_Three</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'weather:index' %}">Weather</a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'weather:index' %}">Weather<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'weather:search' %}">Weather-Search<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'weather:top_three' %}">Top Three</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row mt-3">
            <div class="col-sm-4 m-auto card">
                <h4 class="text-center"><u>Three Most Searched Cities:</u></h4>
                <div class="text-center">
                    {% for city in cities %}
                    <h4>{{ city.name }}</h4>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-6 m-auto">
                <div class="card text-center bg-primary">
                    <h1>{{ city_one.city }}</h1>
                    <h6>{{ city_one.temperature }}°C</h6>
                    <h6>{{ city_one.description }}</h6>
                </div>
            </div>
        </div>
        <div class="row  mt-3">
            <div class="col-sm-6 m-auto">
                <div class="card text-center bg-success">
                    <h1>{{ city_two.city }}</h1>
                    <h6>{{ city_two.temperature }}°C</h6>
                    <h6>{{ city_two.description }}</h6>
                </div>
            </div>
        </div>
        <div class="row  mt-3">
            <div class="col-sm-6 m-auto">
                <div class="card text-center bg-danger">
                    <h1>{{ city_three.city }}</h1>
                    <h6>{{ city_three.temperature }}°C</h6>
                    <h6>{{ city_three.description }}</h6>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>